*.[hc]  text
*.json  text
*.xml   text
*.py    text
*.md    text
*.txt   text
*.lua   text
*.bat   text

# Shell scripts should *always* be LF, regardless of platfrom
s/*     text eol=lf
*.sh    text eol=lf

# All third-party code should not be EOL-normalized
#third-party/**  -text
